.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-items a:not(:last-child) {
  margin-right: 1.5rem;
}
